#[link(name = "cairo", vers = "0.2.1", author = "z0w0", uuid = "df1e437b-e617-48ba-bfc7-b2eef204048f")];
#[crate_type = "lib"];
#[warn(
	no_non_implicitly_copyable_typarams,
	no_vecs_not_implicitly_copyable
)];

use std;
mod cairo;
